name: Docker image to GPR - Continous deployment

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write 

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install testing tools
        run: pip install pytest

      - name: Run tests
        run: pytest -v

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Normalize owner name
        id: owner
        run: echo "owner=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ steps.owner.outputs.owner }}/mlops-medical-app:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ steps.owner.outputs.owner }}/mlops-medical-app:latest
